* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #EEEBE5;
}


.navbar {
    display: flex;
    padding: 20px 80px;
    border-bottom: 1px solid #333333;
    flex-wrap: wrap;
}


.logo {
    color: var(--purple-50, #5700FF);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__menu {
    min-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.list__item {
    list-style: none;
}

.link__about {
    text-decoration: none;
    color: var(--grey-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    background: var(--peach-95, #F5F3F0);
}


.link {
    text-decoration: none;
    color: var(--grey-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    transition: .4s;
}

.link:hover {
    background: var(--peach-95, #F5F3F0);
}



.call__btn {
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 8px;
    background: #5700FF;
    color: #FDFDFC;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    animation: call 3s infinite;
    align-items: center;
}

.call__btn:hover {
    background: #4400cd;
}

@keyframes call {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}


.fa-phone {
    background: transparent;
    width: 20px;
    height: 20px;
    color: #FDFDFC;
}

.call__btn .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #4D4D4D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 15px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -110%;
    transform: rotate(15px);
    left: 43%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .call__btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555  transparent transparent ;
  }

  .call__btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
  




/* ============= Remixicon =========== */

#icon {
    display: none;
}


/* ================ Header =============== */

.photo {
    width: 450px;
    height: 540px;
}

.img__title {
    color: var(--grey-20, #333);
    width: 490px;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 10px;
    background: var(--peach-96, #F7F6F3);
    margin-bottom: 20px;
}

.im__title {
    color: var(--grey-10, #1A1A1A);
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 10px;
}

.img__text {
    color: var(--grey-30, #4D4D4D);
    width: 740px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.number {
    color: var(--grey-20, #333);
    font-size: 45px;
    font-weight: 700;
}

span {
    color: var(--purple-50, #5700FF);
    font-size: 45px;
    font-weight: 700;
}

.number__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-weight: 500;
}

.numbers {
    display: flex;
    gap: 50px;
    padding: 20px 0px;
    width: 720px;
    border-top: 1px solid var(--purple-50, #5700FF);
    border-bottom: 1px solid var(--purple-50, #5700FF);
}

.photo__welcome {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* ===================== section ================= */


.career__title {
    color: var(--grey-20, #333);
    text-align: center;
    font-size: 38px;
    font-weight: 600;
    margin-top: 50px;
}

.career__text {
    color: var(--grey-30, #4D4D4D);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    width: 780px;
    margin-top: 5px;
}

.career-text {
    display: flex;
    justify-content: center;
}

.big-line {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.big__line {
    width: 2px;
    height: 1799px;
    background: #5500ff;
    position: absolute;
}

/* ================== etap--1 ================ */

.now__btn {
    width: 88px;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    background: #F7F6F3;
    text-align: center;
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    transition: .5s;
    text-align: center;
    margin-bottom: 40px;
}

.now__btn:hover {
    background: #9E00FF;
    color: #fff;
}

.now-btn {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.icon__bg {
    width: 565px;
    height: 176px;
    border-radius: 15px;
    background: var(--peach-96, #F7F6F3);
    padding: 40px;
}

.text__div {
    gap: 24px;
    display: flex;
}

.read__text {
    width: 339px;
    color: var(--grey-20, #333);
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}


.oval {
    width: 26px;
    height: 26px;
    border-radius: 100px;
    background: #9E00FF;
    border-radius: 100px;
    border: 8px solid #F7F6F3;
    border-radius: 50%;
}

.title1 {
    width: 183px;
    border-radius: 6px;
    background: var(--peach-96, #F7F6F3);
    padding: 10px 16px;
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.etap__1 {
    display: flex;
    gap: 50px;
    align-items: center;
    background: transparent;
    margin-bottom: 60px;
}


/* ===================== 2022 ================= */

.title2 {
    width: 241px;
    border-radius: 6px;
    background: var(--peach-96, #F7F6F3);
    padding: 10px 16px;
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

.etap__2 {
    display: flex;
    gap: 50px;
    align-items: center;
    background: transparent;
    margin-bottom: 60px;
}

/* =================== 2021 =============== */


.title3 {
    width: 222px;
    border-radius: 6px;
    background: var(--peach-96, #F7F6F3);
    padding: 10px 16px;
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

/* =================== 2020 =============== */

.title4 {
    width: 207px;
    border-radius: 6px;
    background: var(--peach-96, #F7F6F3);
    padding: 10px 16px;
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

/* ==================== 2018 =============== */

.title5 {
    width: 198px;
    border-radius: 6px;
    background: var(--peach-96, #F7F6F3);
    padding: 10px 16px;
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
}

/* =================== end ===================== */

.card__title {
    color: var(--grey-20, #333);
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
}

.card__text {
    color: var(--grey-20, #333);
    margin-top: 10px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    width: 366px;
}

.icon__title {
    display: flex;
    align-items: center;
    gap: 24px;
}

.card {
    border-radius: 10px;
    background: var(--peach-96, #F7F6F3);
    width: 562px;
    padding: 40px;
    justify-content: center;
    margin-left: 190px;
}


.all-etap {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;
}


/* ============ responsive - icons ============= */
.icon_1 {
    display: none;
}

/* =========== responsive - title ============== */
.title_1 {
    display: none;
}


/* ================  nav__end ================*/

.line__nav {
    width: 100%;
    height: 1px;
    background: #333;
    margin-bottom: 40px;
    margin-top: 100px;
}


.in__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.twitter__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.insta__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sites {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.navbar2 {
    display: flex;
    justify-content: space-around;
}

.nav__menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-envelope {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.email__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.email {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.flat__line {
    width: 1.5px;
    height: 24px;
    background: #333;
}

.ri-phone-fill {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.phone__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.phone {
    display: flex;
    gap: 6px;
    cursor: pointer;
}


.ri-map-pin-line {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.location__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.location {
    display: flex;
    gap: 6px;
    cursor: pointer;
}


.box {
    display: flex;
    gap: 24px;
    width: 742px;
    border-radius: 8px;
    border: 1px solid var(--peach-85, #333);
    padding: 22px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.company__title {
    color: var(--grey-50, #808080);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}

.box2{
    display: flex;
    justify-content: center;
}









@media (max-width:480px) {

    .header {
        display: flex;
        justify-content: center;
    }

    .navbar {
        padding: 20px 16px 20px 16px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 18px;
        align-items: center;
    }


    .nav__menu {
        position: fixed;
        display: flex;
        background: #5700FF;
        height: 75px;
        width: 101%;
        bottom: 0;
        left: 0%;
        z-index: 9999;
        border-radius: 30px 30px 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px 12px 30px,
            rgb(0, 0, 0) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
        justify-content: space-evenly;
        align-items: center;
    }


    .link__about {
        display: none;
    }

    .link {
        display: none;
    }

    .res__link1 {
        text-decoration: none;
        display: block;
        color: #333;
        font-size: 30px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: .5s;
        background: var(--peach-95, #F5F3F0);
    }


    .res__link {
        text-decoration: none;
        display: block;
        color: #fff;
        font-size: 30px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: .5s;
    }

    .res__link:hover {
        background: #F5F3F0;
        color: #333;
    }

    #icon {
        display: block;
    }

    /* ================== header ================== */

    .photo {
        width: 358px;
        height: 345px;
        margin-bottom: 30px;
    }

    .img__title {
        width: 358px;
        font-size: 14px;
        padding: 12px 16px;
        border-radius: 10px;
        margin-bottom: 14px;
    }

    .im__title {
        color: var(--grey-10, #1A1A1A);
        font-size: 38px;
        margin-bottom: 4px;
    }

    .img__text {
        width: 358px;
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 40px;
    }

    .number__title {
        color: var(--grey-30, #4D4D4D);
        font-size: 14px;
        font-weight: 500;
    }

    .numbers {
        display: block;
        padding: 30px;
        width: 358px;
        background: #F7F6F3;
        border-radius: 20px;
    }

    .num1 {
        display: flex;
        align-items: center;
        gap: 50px;
    }

    .line {
        width: 298px;
        height: 1px;
        margin-top: 20px;
        margin-bottom: 20px;
        background: #E1DBD1;
    }

    .photo__welcome {
        display: block;
        justify-content: center;
        /* margin-left: 30px; */
    }


    /* ============== section =============== */


    .career__title {
        font-size: 28px;
    }

    .career__text {
        width: 358px;
        font-size: 14px;
    }

    .big__line {
        width: 2px;
        height: 600px;
    }

    /* =========== etap__1 =========== */

    .icon__bg {
        width: 358px;
        height: 279px;
    }

    .text__div {
        display: block;
    }

    .read__text {
        width: 278px;
        font-size: 14px;
        text-align: center;
    }

    .icon1 {
        margin-left: 100px;
    }

    .icon_1 {
        display: block;
        margin-left: 100px;
        margin-bottom: 24px;
    }

    .icon11 {
        display: none;
    }

    .etap__1 {
        display: none;
        margin-left: 25%;
    }

    .title1 {
        display: none;
    }

    .oval {
        display: none;
    }

    .title2 {
        display: none;
    }

    .title3 {
        display: none;
    }

    .title4 {
        display: none;
    }

    .title5 {
        display: none;
    }


    .etap__2 {
        display: block;
        /* margin-left: 25%; */
    }

    .card {
        display: none;
    }

    .icon__title {
        display: block;
    }


    .now__btn {
        display: none;
    }

    /* ==================== nav -end ================ */

    .nav__menu2{
        display: none;
    }

    .flat__line{
        display: none;
    }

    .box{
        display: block;
        width: 358px;
        padding: 15px 0px 15px 70px;

    }

    .email{
        margin-bottom: 5px;
    }

    .phone{
        margin-bottom: 5px;
    }

    .location{
        margin-bottom: 5px;
    }

    .company__title{
        margin-bottom: 100px;
    }


}