* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}

body {
    background: #EEEBE5;
    overflow-x: hidden;
}


.navbar {
    display: flex;
    padding: 20px 80px;
    border-bottom: 1px solid #333333;
    flex-wrap: wrap;
}


.logo {
    color: var(--purple-50, #5700FF);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav__menu {
    min-width: 365px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
}

.list__item {
    list-style: none;
}

.link__portfolio {
    text-decoration: none;
    color: var(--grey-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    background: var(--peach-95, #F5F3F0);
}


.link {
    text-decoration: none;
    color: var(--grey-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    background: transparent;
    border-radius: 6px;
    padding: 10px 15px;
    transition: .4s;
}

.link:hover {
    background: var(--peach-95, #F5F3F0);
}



.call__btn {
    width: 132px;
    height: 49px;
    border: none;
    border-radius: 8px;
    background: #5700FF;
    color: #FDFDFC;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-left: 30px;
    cursor: pointer;
    animation: call 3s infinite;
    align-items: center;
}

.call__btn:hover {
    background: #4400cd;
}

@keyframes call {

    5%,
    50% {
        transform: scale(1);
    }

    10% {
        transform: scale(1);
    }

    15% {
        transform: scale(1);
    }

    20% {
        transform: scale(1) rotate(-5deg);
    }

    25% {
        transform: scale(1) rotate(5deg);
    }

    30% {
        transform: scale(1) rotate(-3deg);
    }

    35% {
        transform: scale(1) rotate(2deg);
    }

    40% {
        transform: scale(1) rotate(0);
    }
}


.fa-phone {
    background: transparent;
    width: 20px;
    height: 20px;
    color: #FDFDFC;
}

.call__btn .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #4D4D4D;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    font-size: 15px;
    padding: 7px 0;
    position: absolute;
    z-index: 1;
    bottom: -110%;
    transform: rotate(15px);
    left: 43%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.call__btn .tooltiptext::after {
    content: "";
    position: absolute;
    top: -10%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent;
}

.call__btn:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}





/* ============= Remixicon =========== */

#icon {
    display: none;
}


/* ================ Header =============== */

.photo {
    width: 450px;
    height: 540px;
}

.img__title {
    color: var(--grey-20, #333);
    width: 490px;
    font-size: 20px;
    font-weight: 500;
    padding: 14px 18px;
    border-radius: 10px;
    background: var(--peach-96, #F7F6F3);
    margin-bottom: 20px;
}

.im__title {
    color: var(--grey-10, #1A1A1A);
    font-size: 54px;
    font-weight: 600;
    margin-bottom: 10px;
}

.img__text {
    color: var(--grey-30, #4D4D4D);
    width: 740px;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 60px;
}

.number {
    color: var(--grey-20, #333);
    font-size: 45px;
    font-weight: 700;
}

span {
    color: var(--purple-50, #5700FF);
    font-size: 45px;
    font-weight: 700;
}

.number__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-weight: 500;
}

.numbers {
    display: flex;
    gap: 50px;
    padding: 20px 0px;
    width: 720px;
    border-top: 1px solid var(--purple-50, #5700FF);
    border-bottom: 1px solid var(--purple-50, #5700FF);
}

.photo__welcome {
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

/* ==================== header ================= */

.header {
    display: flex;
    justify-content: center;
}


.creative__bg {
    margin-top: 60px;
    width: 95%;
    border-radius: 10px;
    background: var(--peach-96, #F7F6F3);
    padding: 60px 250px;
}

.star-btn {
    display: flex;
    justify-content: center;
}

.star__btn {
    width: 52px;
    height: 52px;
    margin-bottom: 30px;
    border: none;
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
}

.create__title {
    color: var(--grey-20, #333);
    text-align: center;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%;
}

.create__text {
    color: var(--grey-30, #4D4D4D);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

.icons {
    display: flex;
    gap: 14px;
    margin-top: 30px;
    justify-content: center;

}

.icon__bg {
    width: 241px;
    border-radius: 6px;
    border: 2px solid var(--peach-90, #EBE7E0);
    padding: 12px;
    transition: .5s;
}

.icon__bg:hover {
    border: 2px solid var(--peach-90, #5700FF);
}

.icon {
    display: flex;
    gap: 4px;
}

.project__title {
    color: var(--grey-20, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    padding-top: 3px;
}

/* =================  header-wrapper ================ */

.done__title {
    color: var(--grey-20, #333);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    margin-top: 85px;
    text-align: center;
}

.line {
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px solid var(--peach-85, #E1DBD1);
}


.project__cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 24px;
}

.project__card {
    width: 413px;
    border-radius: 10px;
    background: var(--peach-96, #F7F6F3);
    padding: 40px;
    transition: .5s;
}

.project__card:hover {
    transform: translateY(-17px);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.project__title {
    color: var(--grey-20, #333);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
}

.img {
    background: url('./images/project1.svg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img2 {
    background: url('./images/project2.svg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img3 {
    background: url('./images/project3.svg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}


.img4 {
    background: url('./images/project4.jpg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img5 {
    background: url('./images/project5.jpg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img6 {
    background: url('./images/project6.jpg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}


.img7 {
    background: url('./images/project7.jpg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img8 {
    background: url('./images/project8.jpg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.img9 {
    background: url('./images/project9.svg');
    width: 333px;
    height: 257px;
    background-position: center;
    margin-top: 24px;
}

.project__link {
    text-decoration: none;
    position: relative;
    top: 75%;
    left: 80%;
}

.btn__link {
    border-radius: 6px;
    padding-top: 5px;
    width: 36px;
    height: 36px;
    border: 1px solid var(--peach-90, #EBE7E0);
    background: var(--peach-96, #F7F6F3);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transition: .5s;
}


.ri-arrow-right-up-line {
    color: #333;
    font-size: 20px;
    background: transparent;
}

.project__card:hover .btn__link {
    border: 1px solid #5700FF;
    transform: translateY(-3px);
    color: #fff;
    transition: .5s;
}

/* =================== nav_end =================== */

.line__nav {
    width: 100%;
    height: 1px;
    background: #333;
    margin-bottom: 40px;
    margin-top: 100px;
}


.in__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.twitter__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}


.insta__btn {
    border-radius: 6px;
    background: var(--purple-50, #5700FF);
    box-shadow: 0px 0px 14px 4px rgba(255, 255, 255, 0.50) inset;
    border: none;
    width: 40px;
    height: 40px;
    padding: 10px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}

.sites {
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.navbar2 {
    display: flex;
    justify-content: space-around;
}

.nav__menu2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-envelope {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.email__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.email {
    display: flex;
    gap: 6px;
    cursor: pointer;
}

.flat__line {
    width: 1.5px;
    height: 24px;
    background: #333;
}

.ri-phone-fill {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.phone__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.phone {
    display: flex;
    gap: 6px;
    cursor: pointer;
}


.ri-map-pin-line {
    width: 20px;
    height: 20px;
    background: transparent;
    color: #5700FF;
    display: flex;
    align-items: center;
}

.location__title {
    color: var(--grey-30, #4D4D4D);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
}

.location {
    display: flex;
    gap: 6px;
    cursor: pointer;
}


.box {
    display: flex;
    gap: 24px;
    width: 742px;
    border-radius: 8px;
    border: 1px solid var(--peach-85, #333);
    padding: 22px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.company__title {
    color: var(--grey-50, #808080);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 50px;
}

.box2{
    display: flex;
    justify-content: center;
}















@media (max-width:480px) {

    .navbar {
        padding: 20px 16px 20px 16px;
        justify-content: center;
        align-items: center;
    }

    .logo {
        font-size: 18px;
        align-items: center;
    }


    .nav__menu {
        position: fixed;
        display: flex;
        background: #5700FF;
        height: 75px;
        width: 101%;
        bottom: 0;
        left: 0%;
        z-index: 9999;
        border-radius: 30px 30px 0px 0px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
            rgba(0, 0, 0, 0.12) 0px 12px 30px,
            rgb(0, 0, 0) 0px 4px 6px,
            rgba(0, 0, 0, 0.17) 0px 12px 13px,
            rgba(0, 0, 0, 0.09) 0px -3px 5px;
        justify-content: space-evenly;
        align-items: center;
    }


    .link__portfolio {
        display: none;
    }

    .link {
        display: none;
    }

    .res__link1 {
        text-decoration: none;
        display: block;
        color: #333;
        font-size: 30px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: .5s;
        background: var(--peach-95, #F5F3F0);
    }


    .res__link {
        text-decoration: none;
        display: block;
        color: #fff;
        font-size: 30px;
        padding: 10px 15px;
        border-radius: 10px;
        transition: .5s;
    }

    .call__btn2 {
        margin: 30px;
    }


    .res__link:hover {
        background: #F5F3F0;
        color: #333;
    }

    #icon {
        display: block;
    }

    /* ===================  header =================== */


    .creative__bg {
        margin-top: 30px;
        padding: 40px 30px;
    }

    .star-btn {
        display: flex;
        justify-content: center;
    }

    .create__title {
        font-size: 28px;
    }

    .create__text {
        font-size: 14px;
    }

    .icons {
        display: block;
    }

    .icon__bg {
        width: 100%;
        padding: 10px;
        margin-top: 14px;
    }


    .icon {
        display: flex;
        gap: 4px;
        justify-content: center;
    }

    .project__title {
        font-size: 14px;
    }


    .project__card {
        width: 358px;
    }

    .img {
        width: 298px;
        height: 233px;
    }

    .img2 {
        width: 298px;
        height: 233px;
    }

    .img3 {
        width: 298px;
        height: 233px;
    }

    .img4 {
        width: 298px;
        height: 233px;
    }

    .img5 {
        width: 298px;
        height: 233px;
    }

    .img6 {
        width: 298px;
        height: 233px;
    }

    .img7 {
        width: 298px;
        height: 233px;
    }

    .img8 {
        width: 298px;
        height: 233px;
    }

    .img9 {
        width: 298px;
        height: 233px;
    }


    /* ======================= nav--end ======================= */

    .nav__menu2{
        display: none;
    }

    .flat__line{
        display: none;
    }

    .box{
        display: block;
        width: 358px;
        padding: 15px 0px 15px 70px;

    }

    .email{
        margin-bottom: 5px;
    }

    .phone{
        margin-bottom: 5px;
    }

    .location{
        margin-bottom: 5px;
    }

    .company__title{
        margin-bottom: 100px;
    }


}